apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "app.fullname" . }}-config
data:
  {{- range $providerName, $provider := .Values.app.encryptionproviders }}
  {{- if $provider.enabled }}
  {{- /* 1. TYPE Variable (Force a newline before this) */}}
  ENCRYPTION_PROVIDERS__{{ $providerName | upper }}__TYPE: {{ $provider.type | quote }}

  {{- /* 2. Config Loop */}}
  {{- range $key, $val := $provider.config }}
  ENCRYPTION_PROVIDERS__{{ $providerName | upper }}__PARAMS__{{ $key | upper }}: {{ $val | quote }}
  {{- end }}

  {{- end }}
  {{- end }}