apiVersion: v1
kind: Secret
metadata:
  name: {{ include "app.fullname" . }}-secret
type: Opaque
data:
  {{ /* Loop through all providers */ -}}
  {{- range $providerName, $provider := .Values.app.encryptionproviders }}
  {{- if $provider.enabled }}

  {{ /* Add simple secrets (like Vault Token) */ -}}
  {{- range $key, $val := $provider.secrets }}
  ENCRYPTION_PROVIDERS__{{ $providerName | upper }}__PARAMS__{{ $key | upper }}: {{ $val | b64enc }}
  {{- end }}

  {{- end }}
  {{- end }}
